openapi: 3.1.0
info:
  title: ETH402 service API
  version: 0.1.0
  description: >-
    ETH402-specific operational and merchant APIs. Standard x402 facilitator
    endpoints are intentionally absent from Milestone 0.
  license:
    name: Apache-2.0
    identifier: Apache-2.0
servers:
  - url: https://eth402.org
paths:
  /health/live:
    get:
      operationId: liveness
      responses:
        "200":
          description: Process is live.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
  /health/ready:
    get:
      operationId: readiness
      responses:
        "200":
          description: Database and Ethereum RPC are ready and RPC reports chain ID 1.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Readiness"
        "503":
          description: A required dependency is unavailable or unsafe.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Readiness"
  /stats:
    get:
      operationId: publicStats
      summary: Aggregate public facilitator statistics
      description: Cached aggregate data. Only confirmed settlements contribute volume.
      responses:
        "200":
          description: Version 1 statistics.
          headers:
            Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatsV1"
        "429":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
  /metrics:
    get:
      operationId: prometheusMetrics
      description: Operational Prometheus exposition; restrict in production.
      responses:
        "200":
          description: Prometheus text exposition.
          content:
            text/plain:
              schema:
                type: string
components:
  responses:
    Error:
      description: Structured service error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
  schemas:
    Health:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status:
          const: live
    Readiness:
      type: object
      additionalProperties: false
      required: [status, checks]
      properties:
        status:
          enum: [ready, not_ready]
        checks:
          type: object
          additionalProperties: false
          required: [database, ethereum_rpc]
          properties:
            database:
              enum: [ok, unavailable]
            ethereum_rpc:
              enum: [ok, unavailable]
    StatsV1:
      type: object
      additionalProperties: false
      required:
        - schema_version
        - service
        - version
        - network
        - asset
        - uptime_seconds
        - registered_merchants
        - verified_merchants
        - total_verifications
        - successful_verifications
        - failed_verifications
        - total_settlement_requests
        - confirmed_settlements
        - failed_settlements
        - total_payment_volume_atomic
        - total_payment_volume_usdc
        - settlements_last_24h
        - volume_last_24h_atomic
        - last_confirmed_block
        - latest_indexed_block
        - confirmation_lag_blocks
        - status
      properties:
        schema_version: { const: "1" }
        service: { const: ETH402 }
        version: { type: string }
        network: { const: "eip155:1" }
        asset: { const: USDC }
        uptime_seconds: { type: integer, minimum: 0 }
        registered_merchants: { type: integer, minimum: 0 }
        verified_merchants: { type: integer, minimum: 0 }
        total_verifications: { type: integer, minimum: 0 }
        successful_verifications: { type: integer, minimum: 0 }
        failed_verifications: { type: integer, minimum: 0 }
        total_settlement_requests: { type: integer, minimum: 0 }
        confirmed_settlements: { type: integer, minimum: 0 }
        failed_settlements: { type: integer, minimum: 0 }
        total_payment_volume_atomic:
          type: string
          pattern: "^[0-9]+$"
        total_payment_volume_usdc:
          type: string
          pattern: "^[0-9]+\\.[0-9]{6}$"
        settlements_last_24h: { type: integer, minimum: 0 }
        volume_last_24h_atomic:
          type: string
          pattern: "^[0-9]+$"
        last_confirmed_block: { type: integer, minimum: 0 }
        latest_indexed_block: { type: integer, minimum: 0 }
        confirmation_lag_blocks: { type: integer, minimum: 0 }
        status:
          enum: [operational, degraded, maintenance]
    ErrorEnvelope:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message, request_id]
          properties:
            code: { type: string }
            message: { type: string }
            request_id: { type: string }
