openapi: 3.1.0
info:
  title: ETH402 service API
  version: 0.12.0
  description: >-
    ETH402 merchant and operational APIs plus the standard x402 v2 facilitator
    verification and settlement surface. Merchant authentication is separate
    from x402 payment authorization. Settlement requires a prior verification
    and a configured settlement signer.
  license:
    name: Apache-2.0
    identifier: Apache-2.0
servers:
  - url: https://eth402.org
paths:
  /supported:
    get:
      operationId: x402Supported
      summary: Return the facilitator's deliberately narrow x402 v2 capabilities
      responses:
        "200":
          description: Exact EIP-3009 payments in native Ethereum-mainnet USDC only.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/X402Supported" }
  /verify:
    post:
      operationId: x402Verify
      summary: Verify an x402 v2 EIP-3009 authorization without broadcasting
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/X402VerifyRequest" }
      responses:
        "200":
          description: Protocol verification result; invalid authorizations also use this status.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/X402VerifyResponse" }
        "400":
          description: The outer request is not valid x402 v2 JSON.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/X402VerifyResponse" }
        "503":
          description: Verification could not safely complete due to a dependency failure.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/X402VerifyResponse" }
  /settle:
    post:
      operationId: x402Settle
      summary: Settle a previously verified x402 v2 EIP-3009 payment
      description: >-
        Requires a prior successful /verify for the same payment: admission is
        gated on the durable verification record, which is what binds the
        recipient to an active registered merchant (ADR-0004). The request
        shape is identical to /verify and is parsed by the same strict rules.
        Once the facilitator has broadcast transferWithAuthorization, the
        response waits up to ETH402_SETTLE_RESPONSE_WAIT (180 seconds by
        default) for the transaction to reach full confirmation depth (12
        confirmations by default). Success means the payment reached that
        finality depth. If the window elapses first, success=false carries
        errorReason=confirmation_timed_out and the durable transaction hash
        while confirmation continues asynchronously. A transaction confirmed
        as reverted returns success=false with
        errorReason=transaction_reverted and the transaction hash. Calls never settle twice: a repeat returns the
        recorded outcome — the confirmed hash, transaction_reverted with the
        reverted hash, or broadcast_failed while it is still in flight.
        Policy rejections return HTTP 200 with success=false and a stable
        errorReason; a payment /verify would have refused is rejected as
        invalid_request with the specific verification reason in errorMessage.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/X402SettleRequest" }
      responses:
        "200":
          description: Settlement outcome, including policy rejections with success=false.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/X402SettleResponse" }
        "400":
          description: The outer request is not valid x402 v2 JSON.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/X402SettleResponse" }
        "503":
          description: Settlement is unavailable (signer disabled or a dependency failure).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/X402SettleResponse" }
  /verify-email:
    get:
      operationId: verifyEmailPage
      summary: Render a browser confirmation page for an email-verification token
      description: >-
        Browser-facing counterpart of POST /v1/merchants/verify-email; the
        onboarding email links here. GET never consumes the token, so automated
        mail scanners and link previewers cannot complete the one-time action.
        A cross-origin browser navigation may render this page, but receives no
        CORS read permission. An embedded webmail browser may submit the form
        with its own Origin only when browser-controlled Fetch Metadata proves
        an explicit user-activated document navigation.
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Confirmation page rendered; no state was changed.
          content:
            text/html: {}
        "400":
          description: Token is missing or malformed.
          content:
            text/html: {}
    post:
      operationId: verifyEmailPageSubmit
      summary: Consume an email-verification token from the browser confirmation page
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, minLength: 20 }
      responses:
        "200":
          description: Email verified; an HttpOnly SameSite=Strict merchant-admin session is issued.
          content:
            text/html: {}
        "400":
          description: Token invalid, already used, or expired.
          content:
            text/html: {}
        "500": { description: Verification backend failure (generic HTML page). }
  /v1/merchants/register:
    post:
      operationId: registerMerchant
      summary: Start merchant registration
      description: Returns the same accepted response for new and duplicate valid registrations.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegistrationRequest" }
      responses:
        "202":
          description: Email verification is pending.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Pending" }
        "400": { $ref: "#/components/responses/Error" }
        "429": { $ref: "#/components/responses/Error" }
  /v1/merchants/verify-email:
    post:
      operationId: verifyMerchantEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [token]
              properties:
                token: { type: string, minLength: 20 }
      responses:
        "200":
          description: Email token was consumed.
          content:
            application/json:
              schema:
                type: object
                required: [merchant_id, status]
                properties:
                  merchant_id: { type: string, format: uuid }
                  status: { const: email_verified }
        "400": { $ref: "#/components/responses/Error" }
  /v1/merchants/admin-link:
    post:
      operationId: requestMerchantAdminLink
      summary: Request an enumeration-resistant merchant-panel sign-in email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [business_email]
              properties:
                business_email: { type: string, format: email }
      responses:
        "202": { description: A sign-in email was sent if the address belongs to a merchant. }
        "400": { $ref: "#/components/responses/Error" }
        "429": { $ref: "#/components/responses/Error" }
  /v1/merchants/wallet-challenge:
    post:
      operationId: createInitialWalletChallenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [merchant_id]
              properties:
                merchant_id: { type: string, format: uuid }
      responses:
        "201":
          description: EIP-4361 challenge for the registered recipient.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WalletChallenge" }
        "403": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
  /v1/merchants/verify-wallet:
    post:
      operationId: verifyInitialWallet
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WalletVerificationRequest" }
      responses:
        "200":
          description: Merchant activated; the API key is returned exactly once.
          content:
            application/json:
              schema:
                type: object
                required: [status, api_key]
                properties:
                  status: { const: active }
                  api_key: { type: string }
        "400": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
  /v1/me:
    get:
      operationId: getMerchant
      security: [{ MerchantAPIKey: [] }]
      responses:
        "200":
          description: Authenticated merchant.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Merchant" }
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "429": { $ref: "#/components/responses/Error" }
  /v1/api-keys:
    get:
      operationId: listAPIKeys
      security: [{ MerchantAPIKey: [] }]
      responses:
        "200":
          description: Key metadata; full secret values are never listed.
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys:
                    type: array
                    items: { $ref: "#/components/schemas/APIKey" }
        "401": { $ref: "#/components/responses/Error" }
        "429": { $ref: "#/components/responses/Error" }
    post:
      operationId: createAPIKey
      security: [{ MerchantAPIKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
      responses:
        "201":
          description: New full API key returned exactly once.
          content:
            application/json:
              schema:
                type: object
                required: [key, api_key]
                properties:
                  key: { $ref: "#/components/schemas/APIKey" }
                  api_key: { type: string }
        "401": { $ref: "#/components/responses/Error" }
        "429": { $ref: "#/components/responses/Error" }
  /v1/api-keys/{id}:
    delete:
      operationId: revokeAPIKey
      security: [{ MerchantAPIKey: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Key revoked. }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
  /v1/me/recipient-change:
    post:
      operationId: createRecipientChangeChallenge
      security: [{ MerchantAPIKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [new_address]
              properties:
                new_address: { $ref: "#/components/schemas/EthereumAddress" }
      responses:
        "201":
          description: Challenge bound to the new recipient address.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WalletChallenge" }
        "401": { $ref: "#/components/responses/Error" }
        "429": { $ref: "#/components/responses/Error" }
  /v1/me/recipient-change/verify:
    post:
      operationId: verifyRecipientChange
      security: [{ MerchantAPIKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [challenge_id, message, signature]
              properties:
                challenge_id: { type: string, format: uuid }
                message: { type: string }
                signature: { type: string }
      responses:
        "200":
          description: Recipient changed and history appended.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: { const: recipient_changed }
        "401": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "429": { $ref: "#/components/responses/Error" }
  /merchant/api/session:
    get:
      operationId: getMerchantAdminSession
      security: [{ MerchantAdminSession: [] }]
      responses:
        "200":
          description: Merchant associated with the browser admin session.
          content:
            application/json:
              schema:
                type: object
                required: [merchant, wallet_authenticated]
                properties:
                  merchant: { $ref: "#/components/schemas/Merchant" }
                  wallet_authenticated:
                    type: boolean
                    description: True only after this session proves the current recipient wallet.
        "401": { $ref: "#/components/responses/Error" }
  /merchant/api/logout:
    post:
      operationId: revokeMerchantAdminSession
      security: [{ MerchantAdminSession: [] }]
      responses:
        "204": { description: Session revoked and cookie cleared. }
  /merchant/api/wallet-challenge:
    post:
      operationId: createPanelWalletChallenge
      security: [{ MerchantAdminSession: [] }]
      responses:
        "201":
          description: EIP-4361 challenge bound to the session merchant and registered recipient.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WalletChallenge" }
        "409": { $ref: "#/components/responses/Error" }
  /merchant/api/verify-wallet:
    post:
      operationId: verifyPanelWallet
      security: [{ MerchantAdminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [challenge_id, message, signature]
              properties:
                challenge_id: { type: string, format: uuid }
                message: { type: string }
                signature: { type: string }
      responses:
        "200":
          description: Initial activation returns the integration API key once; later sign-ins only elevate the session.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [status]
                properties:
                  status: { enum: [active, authenticated] }
                  api_key:
                    type: string
                    description: Present only during initial activation and returned exactly once.
        "400": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
  /merchant/api/stats-consent:
    put:
      operationId: setMerchantStatsConsent
      security: [{ MerchantAdminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [enabled]
              properties:
                enabled: { type: boolean }
      responses:
        "200":
          description: Current private-statistics consent state.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [enabled, opted_in_at]
                properties:
                  enabled: { type: boolean }
                  opted_in_at: { type: [string, "null"], format: date-time }
        "403": { $ref: "#/components/responses/Error" }
  /merchant/api/stats:
    get:
      operationId: getPrivateMerchantStats
      security: [{ MerchantAdminSession: [] }]
      responses:
        "200":
          description: Private first-party aggregates from the opt-in and retention window.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MerchantStats" }
        "403": { $ref: "#/components/responses/Error" }
  /merchant/api/public-profile:
    put:
      operationId: setMerchantPublicProfileConsent
      description: >-
        Separately opts the wallet-authenticated merchant into or out of the
        public leaderboard. Enabling publishes only its name, declared website,
        and confirmed-settlement count beginning at the consent timestamp.
      security: [{ MerchantAdminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [enabled]
              properties:
                enabled: { type: boolean }
      responses:
        "200":
          description: Current public-profile consent state.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [enabled, opted_in_at]
                properties:
                  enabled: { type: boolean }
                  opted_in_at: { type: [string, "null"], format: date-time }
        "403": { $ref: "#/components/responses/Error" }
  /merchant/api/api-keys:
    get:
      operationId: listPanelAPIKeys
      security: [{ MerchantAdminSession: [] }]
      responses:
        "200":
          description: API-key metadata only; secret values are not listed.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [keys]
                properties:
                  keys:
                    type: array
                    items: { $ref: "#/components/schemas/APIKey" }
    post:
      operationId: createPanelAPIKey
      security: [{ MerchantAdminSession: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
      responses:
        "201":
          description: New API key returned exactly once.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [key, api_key]
                properties:
                  key: { $ref: "#/components/schemas/APIKey" }
                  api_key: { type: string }
  /merchant/api/api-keys/{id}:
    delete:
      operationId: revokePanelAPIKey
      security: [{ MerchantAdminSession: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: API key revoked. }
  /v1/admin/merchants/{id}/suspend:
    post:
      operationId: suspendMerchant
      description: Operator-only endpoint. Disabled when no operator token is configured.
      security: [{ OperatorToken: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [reason_code]
              properties:
                reason_code: { type: string, minLength: 1 }
      responses:
        "200":
          description: Merchant suspended.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { const: suspended }
        "401": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
  /v1/admin/merchants/{id}/reinstate:
    post:
      operationId: reinstateMerchant
      description: Operator-only endpoint. Disabled when no operator token is configured.
      security: [{ OperatorToken: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Merchant reinstated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { const: active }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
  /health/live:
    get:
      operationId: liveness
      responses:
        "200":
          description: Process is live.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
  /health/ready:
    get:
      operationId: readiness
      responses:
        "200":
          description: Database and Ethereum RPC are ready and RPC reports chain ID 1.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Readiness"
        "503":
          description: A required dependency is unavailable or unsafe.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Readiness"
  /stats:
    get:
      operationId: publicStats
      summary: Aggregate public facilitator statistics
      description: >-
        Cached aggregate data. Only confirmed settlements contribute volume.
        Volume figures are omitted unless the operator sets
        ETH402_PUBLISH_STATS_VOLUME: a cumulative total polled over time yields its
        own deltas, and a delta spanning a single settlement is that payment's exact
        amount. Health is probed on the cache schedule, not per request, so this
        public endpoint cannot be used to drive database or RPC load.
      responses:
        "200":
          description: Version 2 statistics.
          headers:
            Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatsV2"
        "429":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
  /status:
    get:
      operationId: statusPage
      summary: Human-readable status page
      description: >-
        Renders the same cached snapshot as /stats as a self-contained HTML page —
        no external stylesheet, script, font, or image, so it keeps working during
        the network failures it exists to report. It cannot disclose more than
        /stats does.
      responses:
        "200":
          description: Status page.
          content:
            text/html:
              schema: { type: string }
        "503":
          description: Aggregates could not be read; the page reports an outage.
          content:
            text/html:
              schema: { type: string }
  /metrics:
    get:
      operationId: prometheusMetrics
      description: >-
        Operational Prometheus exposition; restrict in production. Disabled
        when ETH402_METRICS_ENABLED is false, and refused by the bundled
        reverse proxy on the public listener.
      responses:
        "200":
          description: Prometheus text exposition.
          content:
            text/plain:
              schema:
                type: string
        "404":
          description: Metrics exposition is disabled by configuration.
components:
  securitySchemes:
    MerchantAPIKey:
      type: http
      scheme: bearer
      bearerFormat: ETH402 API key
    MerchantAdminSession:
      type: apiKey
      in: cookie
      name: eth402_admin
    OperatorToken:
      type: apiKey
      in: header
      name: X-Operator-Token
  responses:
    Error:
      description: Structured service error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
  schemas:
    X402Supported:
      type: object
      additionalProperties: false
      required: [kinds, extensions, signers]
      properties:
        kinds:
          type: array
          minItems: 1
          maxItems: 1
          items:
            type: object
            additionalProperties: false
            required: [x402Version, scheme, network]
            properties:
              x402Version: { const: 2 }
              scheme: { const: exact }
              network: { const: "eip155:1" }
              extra:
                type: object
                properties:
                  asset: { const: "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48" }
                  assetTransferMethod: { const: eip3009 }
        extensions:
          type: array
          maxItems: 0
        signers:
          type: object
          maxProperties: 0
    X402PaymentRequirements:
      type: object
      additionalProperties: false
      required: [scheme, network, asset, amount, payTo, maxTimeoutSeconds, extra]
      properties:
        scheme: { const: exact }
        network: { const: "eip155:1" }
        asset:
          allOf:
            - { $ref: "#/components/schemas/EthereumAddress" }
          description: Canonical Ethereum-mainnet USDC; comparison is case-insensitive.
        amount: { type: string, pattern: "^[0-9]+$" }
        payTo: { $ref: "#/components/schemas/EthereumAddress" }
        maxTimeoutSeconds: { type: integer }
        extra:
          type: object
          required: [name, version]
          properties:
            name: { const: "USD Coin" }
            version: { const: "2" }
            assetTransferMethod: { const: eip3009 }
    X402PaymentPayload:
      type: object
      additionalProperties: false
      required: [x402Version, payload, accepted]
      properties:
        x402Version: { const: 2 }
        accepted: { $ref: "#/components/schemas/X402PaymentRequirements" }
        resource: { type: object }
        extensions:
          type: object
          maxProperties: 0
        payload:
          type: object
          additionalProperties: false
          required: [signature, authorization]
          properties:
            signature: { type: string, pattern: "^0x[0-9a-fA-F]{130}$" }
            authorization:
              type: object
              additionalProperties: false
              required: [from, to, value, validAfter, validBefore, nonce]
              properties:
                from: { $ref: "#/components/schemas/EthereumAddress" }
                to: { $ref: "#/components/schemas/EthereumAddress" }
                value: { type: string, pattern: "^[0-9]+$" }
                validAfter: { type: string, pattern: "^[0-9]+$" }
                validBefore: { type: string, pattern: "^[0-9]+$" }
                nonce: { type: string, pattern: "^0x[0-9a-fA-F]{64}$" }
    X402VerifyRequest:
      type: object
      additionalProperties: false
      required: [x402Version, paymentPayload, paymentRequirements]
      properties:
        x402Version: { const: 2 }
        paymentPayload: { $ref: "#/components/schemas/X402PaymentPayload" }
        paymentRequirements: { $ref: "#/components/schemas/X402PaymentRequirements" }
    X402VerifyResponse:
      type: object
      required: [isValid]
      properties:
        isValid: { type: boolean }
        invalidReason: { type: string }
        invalidMessage: { type: string }
        payer: { $ref: "#/components/schemas/EthereumAddress" }
        extensions: { type: object }
        extra: { type: object }
    X402SettleRequest:
      type: object
      additionalProperties: false
      required: [x402Version, paymentPayload, paymentRequirements]
      properties:
        x402Version: { const: 2 }
        paymentPayload: { $ref: "#/components/schemas/X402PaymentPayload" }
        paymentRequirements: { $ref: "#/components/schemas/X402PaymentRequirements" }
    X402SettleResponse:
      type: object
      required: [success, transaction, network]
      properties:
        success: { type: boolean }
        errorReason:
          type: string
          enum:
            - invalid_request
            - payment_not_found
            - payment_not_verified
            - recipient_not_registered
            - authorization_expiring
            - merchant_quota_exceeded
            - facilitator_quota_exceeded
            - simulation_reverted
            - transaction_reverted
            - confirmation_timed_out
            - broadcast_failed
            - settlement_unavailable
        errorMessage: { type: string }
        payer: { $ref: "#/components/schemas/EthereumAddress" }
        transaction:
          type: string
          description: >-
            Settlement transaction hash. Empty when success is false, except
            for transaction_reverted and confirmation_timed_out, which carry
            the durable settlement hash.
          pattern: "^(0x[0-9a-f]{64})?$"
        network: { const: "eip155:1" }
        amount: { type: string, pattern: "^[0-9]+$" }
        extensions: { type: object }
        extra: { type: object }
    EthereumAddress:
      type: string
      pattern: "^0x[0-9a-fA-F]{40}$"
    RegistrationRequest:
      type: object
      additionalProperties: false
      required: [name, business_email, recipient_address, accept_terms]
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        business_email: { type: string, format: email }
        recipient_address: { $ref: "#/components/schemas/EthereumAddress" }
        accept_terms: { const: true }
        website: { type: string, format: uri }
        description: { type: string }
    Pending:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status: { const: verification_pending }
    WalletChallenge:
      type: object
      additionalProperties: false
      required: [id, message, address, action, expires_at]
      properties:
        id: { type: string, format: uuid }
        message: { type: string }
        address: { $ref: "#/components/schemas/EthereumAddress" }
        action: { enum: [verify-recipient, change-recipient, authenticate-admin] }
        expires_at: { type: string, format: date-time }
    WalletVerificationRequest:
      type: object
      additionalProperties: false
      required: [merchant_id, challenge_id, message, signature]
      properties:
        merchant_id: { type: string, format: uuid }
        challenge_id: { type: string, format: uuid }
        message: { type: string }
        signature: { type: string }
    Merchant:
      type: object
      additionalProperties: false
      required: [id, name, business_email, recipient_address, status, created_at]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        business_email: { type: string, format: email }
        recipient_address: { $ref: "#/components/schemas/EthereumAddress" }
        status: { enum: [pending, manual_review, active, suspended, rejected] }
        website: { type: string, format: uri }
        description: { type: string }
        email_verified_at: { type: string, format: date-time }
        wallet_verified_at: { type: string, format: date-time }
        stats_opted_in_at: { type: string, format: date-time }
        public_profile_opted_in_at: { type: string, format: date-time }
        created_at: { type: string, format: date-time }
    MerchantStats:
      type: object
      additionalProperties: false
      required: [observed_since, verified_payments, pending_settlements, confirmed_settlements, failed_settlements, confirmed_volume_atomic, confirmed_volume_usdc]
      properties:
        observed_since: { type: string, format: date-time }
        verified_payments: { type: integer, minimum: 0 }
        pending_settlements: { type: integer, minimum: 0 }
        confirmed_settlements: { type: integer, minimum: 0 }
        failed_settlements: { type: integer, minimum: 0 }
        confirmed_volume_atomic: { type: string, pattern: "^[0-9]+$" }
        confirmed_volume_usdc: { type: string, pattern: "^[0-9]+\\.[0-9]{6}$" }
    APIKey:
      type: object
      additionalProperties: false
      required: [id, name, prefix, created_at]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        prefix: { type: string }
        created_at: { type: string, format: date-time }
        last_used_at: { type: string, format: date-time }
        revoked_at: { type: string, format: date-time }
    Health:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status:
          const: live
    Readiness:
      type: object
      additionalProperties: false
      required: [status, checks]
      properties:
        status:
          enum: [ready, not_ready]
        checks:
          type: object
          additionalProperties: false
          required: [database, ethereum_rpc]
          properties:
            database:
              enum: [ok, unavailable]
            ethereum_rpc:
              enum: [ok, unavailable]
    # Schema 2 differs from 1 in two ways: the volume figures became optional
    # (withheld unless the operator opts in), and status gained real states because
    # it was previously the constant "operational".
    StatsV2:
      type: object
      additionalProperties: false
      required:
        - schema_version
        - service
        - version
        - network
        - asset
        - uptime_seconds
        - registered_merchants
        - verified_merchants
        - total_verifications
        - successful_verifications
        - failed_verifications
        - total_settlement_requests
        - confirmed_settlements
        - failed_settlements
        - settlements_last_24h
        - last_confirmed_block
        - latest_indexed_block
        - confirmation_lag_blocks
        - status
      properties:
        schema_version: { const: "2" }
        service: { const: ETH402 }
        version: { type: string }
        network: { const: "eip155:1" }
        asset: { const: USDC }
        uptime_seconds: { type: integer, minimum: 0 }
        registered_merchants: { type: integer, minimum: 0 }
        verified_merchants: { type: integer, minimum: 0 }
        total_verifications: { type: integer, minimum: 0 }
        successful_verifications: { type: integer, minimum: 0 }
        failed_verifications: { type: integer, minimum: 0 }
        total_settlement_requests: { type: integer, minimum: 0 }
        confirmed_settlements: { type: integer, minimum: 0 }
        failed_settlements: { type: integer, minimum: 0 }
        total_payment_volume_atomic:
          type: string
          pattern: "^[0-9]+$"
        total_payment_volume_usdc:
          type: string
          pattern: "^[0-9]+\\.[0-9]{6}$"
        settlements_last_24h: { type: integer, minimum: 0 }
        volume_last_24h_atomic:
          type: string
          pattern: "^[0-9]+$"
        last_confirmed_block: { type: integer, minimum: 0 }
        latest_indexed_block: { type: integer, minimum: 0 }
        confirmation_lag_blocks: { type: integer, minimum: 0 }
        status:
          description: >-
            Derived from components, never assumed. "unknown" means health could
            not be observed at all, which is deliberately not reported as
            "operational".
          enum: [operational, degraded, outage, unknown]
        components:
          type: array
          description: >-
            Per-dependency observations backing status. Details are deliberately
            coarse ("unreachable"): this endpoint is public, and the underlying
            error can carry hostnames and usernames.
          items:
            type: object
            additionalProperties: false
            required: [name, state]
            properties:
              name: { type: string }
              state:
                enum: [operational, degraded, outage, disabled]
              detail: { type: string }
    ErrorEnvelope:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message, request_id]
          properties:
            code: { type: string }
            message: { type: string }
            request_id: { type: string }
